.App nav ul {
    list-style: none;
    margin: auto;
    padding: 0;
}
.App nav ul li {
    text-decoration: underline;
    display: inline-block;
    margin: 10px;
    padding: 0;
}

.active {
    color: #fa923f;
}
